.messageBox {
  background: rgb(19, 82, 45);
  border-radius: 15px;
  padding: 2px 20px;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  color: white;
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 5px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.2px;
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}
